@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Brand */
  --color-primary: #0f172a;
  --color-secondary: #ee7826;
  --color-accent: #10b981;

  /* Base */
  --color-base-100: #fcfdfd;
  --color-base-200: #c9caca;
  --color-base-300: #1e2937;

  /* Neutral */
  --color-neutral: oklch(35% 0.01 260);
  --color-neutral-content: oklch(96% 0 0);

  /* Feedback */
  --color-success: oklch(70% 0.17 145);
  --color-error: oklch(62% 0.24 28);
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
